<h1>Album</h1>
<ul>
	<% if !@album.id.nil? %><li>id: <%= @album.id %></li><% end %>
	<% if !@album.albummbid.nil? %><li>mbid: <%= @album.albummbid %></li><% end %>
	<% if !@album.albumname.nil? %><li>albumname: <%= @album.albumname %></li><% end %>
	<% if !@album.albumimage.nil? %><li>albumimage: <%= @album.albumimage %></li><% end %>
	<% if !@album.created_at.nil? %><li>created_at: <%= @album.created_at %></li><% end %>
</ul>