<h2>Artist</h2>
<p><%= @artist.artistname %></p>
<p><% if !@artist.id.nil? %>id: <%=@artist.id %><% end %></p>
<p><% if !@artist.artistmbid.nil? %>mbid: <a href="http://musicbrainz.org/artist/<%= @artist.artistmbid %>"><%= @artist.artistmbid %></a><% end %></p>
<p><% if !@artist.artistlink.nil? %>link: <%=@artist.artistlink %><% end %></p>
<p><% if !@artist.artistnote.nil? %>note: <%=@artist.artistnote %><% end %></p>


