<p>
	<form action='/<%= options.version %>/admin/merge/album' method="POST" class="form-stacked">
			<label for="id_old">Album to delete</label>
			<input type="text" name="id_old" />
			<label for="id_new">Album to keep</label>
			<input type="text" name="id_new" />
		<input class="btn small danger" type="submit" value="Merge!" />
		<input class="btn small" type="reset"/>
	</form>
</p>
<p>
	<table>
		<thead>
	   	<tr>
				<th>id</th>
				<th>name</th>
			</tr>
	  </thead>
		<tbody>
	<% @list.each do |track| %>
		<tr>
			<td><button class="keep btn small" data-keep="<%= track.id %>">keep</button></td>
			<td><button class="delete btn small" data-delete="<%= track.id %>">delete</button></td>
			<td><a href="/<%= options.version %>/album/<%= track.id %>"><%= track.id %></td>
			<td>
				<span><% if !track.albummbid.nil? %><a href="http://musicbrainz.org/release-group/<%= track.albummbid %>.html"><%= track.albumname %></a>
					<% else %> <%= track.albumname %><% end %></span>
				</span>
			</td>		
		</tr>
	<% end %>
	 	</tbody>
	</table>
</p>

<script>
  $('.keep').bind('click', function(e) {
	  $("input[name='id_new']").val('');
	  var id = $(this).attr('data-keep');
	  $("input[name='id_new']").val(id);
  });
  
  $('.delete').bind('click', function(e) {
      $("input[name='id_old']").val('');
	  var id = $(this).attr('data-delete');
	  $("input[name='id_old']").val(id);
  });
  
 </script>

