<p>
	<form action='/admin/merge/album' method="POST" class="form-stacked">
			<label for="id_old">Album to delete</label>
			<input type="text" name="id_old" />
			<label for="id_new">Album to keep</label>
			<input type="text" name="id_new" />
		<input type="submit" value="Merge!" />
	</form>
</p>
<p>
	<table>
		<thead>
	   	<tr>
				<th>id</th>
				<th>name</th>
			</tr>
	  </thead>
		<tbody>
	<% @list.each do |track| %>
		<tr>
			<td><a href="/v1/album/<%= track.id %>"><%= track.id %></td>
			<td>
				<span><% if !track.albummbid.nil? %><a href="http://musicbrainz.org/release-group/<%= track.albummbid %>.html"><%= track.albumname %></a>
					<% else %> <%= track.albumname %><% end %></span>
				</span>
			</td>		
		</tr>
	<% end %>
	 	</tbody>
	</table>
</p>


