<div id="wrapper">

<h2 style="	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-shadow: 0 1px 0 white;
	color: black;
	font-size: 30px;
	line-height: 1.0em;
	letter-spacing: -1px;
	margin-bottom: 10px;
	font-weight: bold;">TOP artists</h2>
<% @hat.each do |k,v| %>
	<% artistname = k %>
	<p><h3 style="color:#A30000"><%=artistname%></h3></p>
	<% v.each do |ke,va| %>
		<% va.each do |key,val| %>
		<%if key=='mbid'%>
		<%elsif key == 'count' %>
		<%elsif key == 'audio' %>
				<p>
					<audio src="<%=val%>" controls>
				 		audio not supported
					</audio>
				</p>	
		<%elsif key == 'video' %>
				<p><h4>Video url: <%=val%></h4></p>
		<%else%>
				<p><img src="<%=val%>"><p>
				<h4><%=key%></h4>
		<%end%>
			
		<%end%>
	<%end%>

<%end%>
</div>