<table>
	<thead>
   	<tr>
			<td>played time</td>
			<td></td>
			<td>artist</td>
			<td>track</td>
			<td>album</td>
		</tr>
  </thead>
	<tbody>
		<% @plays.each do |track| %>
			<tr>
				<td><%= track.playedtime.strftime "%R %d/%m" %></td>
				<td>
					<img alt="album cover" src="<%= track.albumimage %>" width="100" height="100">
				</td>
				<td>
					<span>
						<% if !track.artistmbid.nil? %><a href="http://musicbrainz.org/artist/<%= track.artistmbid %>.html"><%= track.artistname %></a>
						<% else %> <%= track.artistname %><% end %>
					</span>
				</td>
				<td><% if !track.trackmbid.nil? %><a href="http://musicbrainz.org/track/<%= track.trackmbid %>.html"><%= track.title %></a>
					<% else %> <%= track.title %><% end %></td>
				<td><% if !track.albummbid.nil? %><a href="http://musicbrainz.org/release-group/<%= track.albummbid %>.html"><%= track.albumname %></a><% else %> <%= track.albumname %><% end %></td>
			</tr>
		<% end %>
 	</tbody>
</table>