<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<style>

.same{
	background-image:url('/images/same_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}
.new{
	background-image:url('/images/new_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
	
}
.up{
	background-image:url('/images/up_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}
.down{
	background-image:url('/images/down_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}

.album-image img{
	width:60px;
	height:60px;
}
#head{
padding: 10px 10px 9px;
line-height: 13.5px;
text-align: left;
vertical-align: middle;
border-top: 1px solid #DDD;
}
#number,#status{
  float: left;
  width: 70px;
}

.hidden{
	margin-top:10px;
	margin-left:150px;
}
.hidden div{
	margin-top:5px;
}

#album li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	margin:0px;
}
#album{margin:0px;}

</style>

<script>
var this_week, prev_week = null;
var new_chart = [];
var program_id = '<%=@program%>';
var span = '<%=@span.to_i%>';

function makeChart() {
		//make sure that both jsonp calls have finished before making the chart
    if (this_week && prev_week) {
			//console.log('this week', this_week);
			//console.log('prev week', prev_week);
			$.each( this_week, function (i, item) {
				var this_week_id = item.id;
				//default to 'new' status
				item.status = "new";
				
				//default to empty diff
				item.diff = '';
				
				//default to empty prev count
				item.prev_count = '';
				
				//check that prev_week contains any items
				if (prev_week.length > 0) { 
				
					//for each of this weeks items, run through prev weeks items
					$.each(prev_week, function (is, item2) {
						//check if track was played last week
						if(this_week_id === item2.id) {
							//UP
							if( i< is) {
								item.status = "up";
								item.diff = is - i;
								item.prev_count = item2.count;
							}
						
							//DOWN
							else if(i > is) {
								item.status = "down";
								item.diff = i-is;
								item.prev_count = item2.count;
							}
						
							//SAME
							else if(i === is) {
								item.status = "same";
								item.diff = 0;
							}
						}//end if
					
						//add item to new chart
						new_chart[i] = item;
					});//end for each. prev_week
				
				}//end if: no previous week items to compare with
				else {
					new_chart[i] = item;
				}
			
			});//end outer (this_week) for each
			
			//display new chart
			$.each(new_chart, function (i, item) {
				var number = i +1;
				var content = '<li id="head"><span id="number">' + number + '</span><span id="status" class=' + item.status + '>&nbsp;</span><a class="header" id="' + item.id + '" href="javascript: void(0)">' + item.artistname + '</a><div class="hidden" id="' + item.id + '">Loading...</div></li>';
				$(content).appendTo("#files-accordion");
			});
			$('#accordion > ul').accordion({ active: false, header:'.header',collapsible: true,clearStyle: true }).bind("accordionchange", function(event, ui) {
			  //console.dir(ui); // jQuery, activated header
			if(ui.newHeader[0]){
				doSomething(ui.newHeader[0].id);
			}
			})
		}//end if
}

function roundNumber(num, dec) {
	var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
	return result;
}

var doSomething = function(paneId) {
	$.ajax({
	  url: "http://96.126.96.51/v1/artist/"+paneId+"/details",
	  dataType: "jsonp",
		timeout : 40000,
		cache:true,
		jsonpCallback:'details_callback',
         data: {
             format: "json",
							channel: 4
							},
		success: function(result) { 
			//console.log(result);
			
			var first = '<div>First played on '+result.first_play+'</div>';
			var last = '<div>Last played on '+result.last_play+'</div>';
			var avg_play_week = '<div>Played on average '+roundNumber(result.avg_play_week,1)+' times a week</div>';
			var chart_pos = '<div>Number '+result.chart_pos+' on overall chart</div>';
			var play_count = '<div>Played a total of '+result.play_count+' times</div>';
			var avg_duration = '<div>Track are on average '+roundNumber(result.avg_duration,1)+' seconds long</div>';
			var tracks = '<div>Tracks</div><ul>';
			$.each(result.tracks, function(i,item){
				tracks = tracks + '<li>'+item.title+'</li>';
			});
			tracks = tracks +'</ul>';
			
			var albums = '<ul id="album">';
			$.each(result.albums, function(i,item){
				albums = albums + '<li><img src="'+item.albumimage+'" alt="'+item.albumname+'"/></li>';
			});
			albums = albums +'</ul>';
			// australian: ""
			// channels: Object
			// time_sliced: Array[11]
	    $('#' + paneId).next().html(albums+first+last+avg_play_week+chart_pos+play_count+avg_duration+tracks);		  
			}
		});
};

function formatDate(then) {
	var month = then.getMonth() + 1;
	if (month < 10) {
		month = "0" + month;
	}
	var day = then.getDate();
	if (day < 10) {
		day = "0" + day;
	}
	var year = then.getFullYear();
	var last_week = year + "-" + month + "-" + day;
	return last_week;
}

function thisWeek() {
	var from = new Date();	
	from.setDate(from.getDate() - span);
	var from_date = formatDate(from);
	
	$.ajax({
	  url: "http://96.126.96.51/v1/chart/artist",
	  dataType: "jsonp",
		timeout : 40000,
		cache:true,
		jsonpCallback:'this_week_callback',
          data: {
							program: program_id,
							from: from_date,
              format: "json",
							channel: 4
							},
		success: function(result) { 
	    this_week = result;
			makeChart();
    }
	});
}

function prevWeek() {
	var from = new Date();	
	from.setDate(from.getDate() - (span*2));
	var from_date = formatDate(from);

	var to = new Date();	
	to.setDate(to.getDate() - span);
	var to_date = formatDate(to);

   $.ajax({
	  url: "http://96.126.96.51/v1/chart/artist",
	  dataType: "jsonp",
		timeout : 40000,
		cache:true,
		jsonpCallback:'prev_week_callback',
          data: {
							program: program_id,
							to: to_date,
							from: from_date,
              format: "json",
							channel: 4
							},
		success: function(result) { 
	    prev_week = result;
			makeChart();
			}
		});
}
thisWeek();
prevWeek();
</script>

<h3>Artist Chart for <%=@program%></h3>
<p>Last <%=@span%> days compared with previous <%=@span%> days</p>
<div id="accordion">	
<ul class="unstyled" id="files-accordion">
</ul>
</div>
